.landing-page {
    height: 86vh;
    position: absolute;
    top: 0;
    left: -10%;
    background-color: var(--main-grey);
    border-radius: 0 0 512px 512px;
    width: 120%;
    z-index: -1;
}

.main-info {
    background-color: red;
    width: 200vh;
    height: 10vh;
}
