@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--main-grey: #707070;
	--dark-grey: #383738;
	--light-grey: #bcbcbc;
	--complimentary: #00faf9;
	--light-text: #eeebf0;
	--dark-text: #211d1d;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	color: var(--light-text);
	overflow-x: hidden;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
}

a:hover,
button:hover {
	cursor: pointer;
	opacity: 0.5;
}

h1 {
	font-size: 2.08rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.26rem;
}

h5 {
	font-size: 1.13rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 0.8rem;
}
